body {
  background-color: #ffcccc;
  position: absolute;

}

main {
  display: block;
  position: relative;
  top: 50px;

}

h1{
  color: red;
  text-align: center;
}

h2 {
  color: blue;
}

.jesus-pic {
  transform: rotate(90deg);
  position: relative;
  top: 40px;
  right: 40px;
}

.jesus-pic-caption {
  position: relative;
  top: 70px;
  right: 20px;
}

.headings {
  color: red;
}

  #nav-bar {
    padding: 10px;
    width: 100%;
    background-color: blue;
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: block;
    margin: 0;
    text-align: center;
}

.navLinks {
  margin: 0 5px 0 5px;
  color: white;
  border-style: solid;
  border-color: red;
  border-width: 2px;
  position: relative;
}
